<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./src/TennisRefactoringKata/tests</directory>
            <directory>./src/BowlingKata/tests</directory>
            <directory>./src/GildedRoseKata/tests</directory>
            <directory>./src/CodeGolfCastleStairway/tests</directory>
            <directory>./src/CodeGolfCastleFractal/tests</directory>
            <directory>./src/RomanNumerals/tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Utils\AlarmTestListener"/>
    </listeners>
</phpunit>
